


<app-dash></app-dash>








<!-- test:
<br>
<div class="form-group col-md-12">
    <input type="file" name="photo" id="photo" (change)="onFileChange($event)">
</div>

<br>



<br>
<div class="form-group col-md-12">
    <input type="file" name="photo" id="photo" (change)="onFileChange2($event)"  #fileInput>
</div>

<div>
    <img class="imPreview" [src]="craftImagePreview" alt="craftUploaded"  width="200" height="100">
</div>



<br>

<div class="m-2">
    <input type="text" [(ngModel)]="noIdentifico" >
    <button  (click)="encript()">Encrypt</button>
</div>

<div class="m-2">
    <button (click)="decrypt()" >
        Decrypt
    </button>
</div>


<div class="mt-3">{{this.contenido}}</div>


<div class="mt-3">{{this.resultado}}</div>


<div class="buttonBorder d-flex justify-content-center">
    <div class="lgd">
        valores
    </div>
</div>




<div class="m-4">
    <button (click)="panelItem()" >
       test
    </button>
</div> -->
<!-- <div class="container" style="background-color: #151515;">

    <div class="contaninerx">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</div> -->

 <!-- <mat-icon>file_copy</mat-icon> -->
  <!-- <mat-icon>add</mat-icon> -->



<!-- <div >

    <button mat-mini-fab  #tooltip="matTooltip" style="background: green;"
    matTooltip="Button that displays menu action"
    [matTooltipPosition]="position.value"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="tooltip-button m-1"
    (click)="cambio()"
    >
    <mat-icon>settings_ethernet</mat-icon>
    </button>

     <button mat-mini-fab color="primary" #tooltip="matTooltip"
        matTooltip="Copy Estimate"
        [matTooltipPosition]="position.value"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        class="tooltip-button m-1"
        *ngIf="this.buttonView" >
        <mat-icon>filter_none</mat-icon>
    </button>
  
    <button mat-mini-fab  #tooltip="matTooltip" style="background: green;"
    matTooltip="Transforn to Work"
    [matTooltipPosition]="position.value"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="tooltip-button m-1"
    *ngIf="this.buttonView" >
    <mat-icon>unarchive</mat-icon>
    </button>

    <button mat-mini-fab  #tooltip="matTooltip" style="background: red;"
    matTooltip="Delete Estimate"
    matTooltipClass="tooltip-tooltip-red"
    [matTooltipPosition]="position.value"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="tooltip-button m-1"
    *ngIf="this.buttonView" >
  <mat-icon>delete_forever</mat-icon>
  </button>

 
</div> -->
   

<!-- 

<br>

<div class="containerx">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-pinterest"></a>
    </div>
    <div class="btn-mas">

            <label for="btn-mas" class="hamburger" id="hamburger" (click)="buttonmenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            </label>
    </div>
</div>

<br>

<button type="button" class="hamburger" id="hamburger" (click)="buttonmenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</button>



<br>

<div class="cont-reloj">
    <div class="reloj" id="reloj"></div>
    <div class="datos">
        <span id="fec_Datos"></span>
    </div>
</div> -->