<table mat-table [dataSource]="dataSourcePayment" class="mat-elevation-z8">
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.itemDeliteEdit ? 'tachado' : ''"> 
        {{element.descriptionOfPaind}} 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="amountPaind">
      <th mat-header-cell *matHeaderCellDef>Amount Paind</th>
      <td mat-cell *matCellDef="let element"> {{element.amountPaind}} </td>
    </ng-container>

    <ng-container matColumnDef="typePayment">
      <th mat-header-cell *matHeaderCellDef>Type Payment</th>
      <td mat-cell *matCellDef="let element"> {{element.typePayment}} </td>
    </ng-container>
    
    <ng-container matColumnDef="payday">
      <th mat-header-cell *matHeaderCellDef>Pay Day</th>
      <td mat-cell *matCellDef="let element"> {{element.payday | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
     <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actiones</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="onRemove(row)" style="cursor: pointer; color: rgb(202, 5, 5);">delete_forever</mat-icon>
          <mat-icon (click)="onAddNew(true, row)" style="cursor: pointer; color: black;">create</mat-icon>
      </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>


  